<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="book/dao/UserMapperSelect.xml"/>
        <mapper resource="book/dao/UserMapperInsert.xml"/>
        <mapper resource="book/dao/UserMapperUpdate.xml"/>
        <mapper resource="book/dao/UserMapperDelete.xml"/>
    </mappers>
</configuration>